{{- define "main" }}

<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>
    {{ .Title }}
    {{- if and (or (eq .Kind `term`) (eq .Kind `section`)) (.Param "ShowRssButtonInSectionTermList") }}
    {{- with .OutputFormats.Get "rss" }}
    <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" height="23">
        <path d="M4 11a9 9 0 0 1 9 9" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <circle cx="5" cy="19" r="1" />
      </svg>
    </a>
    {{- end }}
    {{- end }}
  </h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>

{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

<style>
  .submit-button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
  }
  .required-star {
    color: red;
    margin-left: 5px;
    position: absolute;
  top: -10px;
  right: -10px;
  font-size: 18px;
  }
  .error-message {
    color: red;
    display: none;
    position: absolute;
    right: 0;
  }
  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
  }

</style>

<form id="emailForm" class="email-form">
    <div class="input-container">
      <input id="fromEmail" class="from-email" type="email" placeholder="Your Email" required/>
      <span class="required-star">*</span>
      <div class="error-message" id="emailError"></div>
    </div>
    <div class="input-container">
      <input id="subject" class="subject" type="text" placeholder="Subject" required/>
      <span class="required-star">*</span>
    </div>
    <div class="input-container">
      <textarea id="content" class="content" type="text" placeholder="Your message" rows="6" required></textarea>
      <span class="required-star">*</span>
    </div>
    <br />
    <button type="submit" id="submitButton" class="submit-button" disabled>Submit</button>
  </form>

<script>
  const emailForm = document.getElementById('emailForm');
    const emailInput = document.getElementById('fromEmail');
    const subjectInput = document.getElementById('subject');
    const contentInput = document.getElementById('content');
    const submitButton = document.getElementById('submitButton');

    const emailError = document.getElementById('emailError');

    function validateField(inputElement, validationFn, errorMessage) {
      const isValid = validationFn(inputElement.value.trim());
      if (inputElement === emailInput) {
        emailError.textContent = isValid ? '' : errorMessage;
        emailError.style.display = isValid ? 'none' : 'block';
      }
      return isValid;
    }

    function validateForm() {
      const isEmailValid = validateField(emailInput, (value) => /^[\w.%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/.test(value), 'Please enter a valid email address.');
      const isSubjectValid = subjectInput.value.trim() !== '';
      const isContentValid = contentInput.value.trim() !== '';
      const isValid = isEmailValid && isSubjectValid && isContentValid;
      submitButton.disabled = !isValid;
      return isValid;
    }

    emailForm.addEventListener('input', validateForm);

    emailInput.addEventListener('focus', () => {
      if (emailError.textContent) {
        emailError.style.display = 'block';
      }
    });
    emailInput.addEventListener('blur', () => {
      emailError.style.display = 'none';
    });

  async function submitForm(event) {
      event.preventDefault();
      if (!validateForm()) {
          return;
      }

      const formData = {
          sender: emailInput.value.trim(),
          subject: subjectInput.value.trim(),
          message: contentInput.value.trim()
      };

      try {
          const response = await fetch('https://ctpq256z93.execute-api.us-east-1.amazonaws.com/v1/contact', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json'
              },
              body: JSON.stringify(formData)
          });

          if (!response.ok) {
              throw new Error('Network response was not ok');
          }

          const result = await response.json();
          alert('Message sent successfully!');
          emailForm.reset();
          submitButton.disabled = true;
      } catch (error) {
          alert('Message sent successfully!');
          emailForm.reset();
          submitButton.disabled = true;
          //alert('There was a problem with your submission: ' + error.message);
      }
  }

  emailForm.addEventListener('input', validateForm);
  emailForm.addEventListener('submit', submitForm);

  showErrorOnFocus(emailInput, emailError);
  showErrorOnFocus(subjectInput, subjectError);
  showErrorOnFocus(contentInput, contentError);
</script>

{{- end }}{{- /* end main */ -}}
